In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Waingapu,ID,2021-06-01 06:51:14,-9.6567,120.2641,83.01,67,100,7.87
1,1,Punta Arenas,CL,2021-06-01 06:51:15,-53.1500,-70.9167,28.51,86,40,3.74
2,2,Taylorville,US,2021-06-01 06:48:52,39.5489,-89.2945,61.21,77,1,4.61
3,3,Vaini,TO,2021-06-01 06:51:15,-21.2000,-175.2000,68.16,100,90,0.00
4,4,Albany,US,2021-06-01 06:49:01,42.6001,-73.9662,49.84,89,100,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights =temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights =clouds, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
wind = city_data_df["Wind Speed"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights =wind, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Waingapu,ID,2021-06-01 06:51:14,-9.6567,120.2641,83.01,67,100,7.87
5,5,Saint-Georges,GD,2021-06-01 06:46:19,12.0564,-61.7485,79.02,71,40,14.45
8,8,Katsuura,JP,2021-06-01 06:51:17,35.1333,140.3000,75.31,68,8,9.17
10,10,Simao,CN,2021-06-01 06:51:18,22.7886,100.9748,80.06,73,53,3.80
11,11,Bengkulu,ID,2021-06-01 06:51:18,-3.8004,102.2655,84.61,72,59,8.86
13,13,Abha,SA,2021-06-01 06:51:19,18.2164,42.5053,80.85,8,0,26.60
16,16,Cayenne,GF,2021-06-01 06:51:20,4.9333,-52.3333,75.24,90,75,1.01
17,17,Luwuk,ID,2021-06-01 06:51:21,-0.9516,122.7875,83.91,77,68,5.97
24,24,Kahului,US,2021-06-01 06:51:23,20.8947,-156.4700,78.82,84,20,3.44
33,33,North Vanlaiphai,IN,2021-06-01 06:51:27,23.1333,93.0667,79.00,56,85,6.02

In [18]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0           Waingapu      ID     83.01  -9.6567  120.2641
5      Saint-Georges      GD     79.02  12.0564  -61.7485
8           Katsuura      JP     75.31  35.1333  140.3000
10             Simao      CN     80.06  22.7886  100.9748
11          Bengkulu      ID     84.61  -3.8004  102.2655
13              Abha      SA     80.85  18.2164   42.5053
16           Cayenne      GF     75.24   4.9333  -52.3333
17             Luwuk      ID     83.91  -0.9516  122.7875
24           Kahului      US     78.82  20.8947 -156.4700
33  North Vanlaiphai      IN     79.00  23.1333   93.0667

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Waingapu,ID,83.01,-9.6567,120.2641,Pondok Wisata Elim
5,Saint-Georges,GD,79.02,12.0564,-61.7485,Radisson Grenada Beach Resort
8,Katsuura,JP,75.31,35.1333,140.3000,Katsuura Hotel Mikazuki
10,Simao,CN,80.06,22.7886,100.9748,Changyu Hotel
11,Bengkulu,ID,84.61,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...
541,Alice Springs,AU,80.15,-23.7000,133.8833,Desert Palms Alice Springs
544,Alyangula,AU,82.27,-13.8483,136.4192,Groote Eylandt Lodge
550,Shakhtinsk,KZ,84.76,49.7100,72.5872,Orifleym
555,Ixtapa,MX,80.22,20.7000,-105.2000,Hotel Plaza Providencia
556,Bambari,CF,77.32,5.7680,20.6757,Hotel-Restaurant BIBICH

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig